.header
  img.icon(src="https://storage.googleapis.com/webdesignledger.pub.network/WDL/5e5a94f0-image5.jpg", alt="")
.content.content_white
  .maxwidth
    h5 Style GuideLine
    h1 品牌網頁視覺引導-40px 大標題
    h1.small_english English Style Guideline For h1 title
    .titlehr
    br
    h2 品牌網頁視覺引導-40px 中標題
    h2.small_english English Style Guideline For h2 title
    br
    h3 品牌網頁視覺引導-40px 小標題
    h3.small_english English Style Guideline For h3 title
    br
    hr

    h5 VI COLORS
    .colorchip
      .color_tag #F6F6F6
      .color_block.color_block_white
    .colorchip
      .color_tag #ffb336
      .color_block.color_block_yellow
    .colorchip
      .color_tag #333
      .color_block.color_block_grey
    .colorchip
      .color_tag #27232F
      .color_block.color_block_blue

    h5 BUTTON EXAMPLES
    .button.button_white 按鈕範例
    .button.button_grey 按鈕範例
    .button.button_yellow 按鈕範例
  
.content.content_grey
  .maxwidth
    h5 Style GuideLine
    h1 品牌網頁視覺引導-40px 大標題
    h1.small_english English Style Guideline For h1 title
    .titlehr
    br
    h2 品牌網頁視覺引導-40px 中標題
    h2.small_english English Style Guideline For h2 title
    br
    h3 品牌網頁視覺引導-40px 小標題
    h3.small_english English Style Guideline For h3 title
    br
    hr

    h5 VI COLORS
    .colorchip
      .color_tag #F6F6F6
      .color_block.color_block_white
    .colorchip
      .color_tag #ffb336
      .color_block.color_block_yellow
    .colorchip
      .color_tag #333
      .color_block.color_block_grey
    .colorchip
      .color_tag #27232F
      .color_block.color_block_blue

    h5 BUTTON EXAMPLES
    .button.button_white 按鈕範例
    .button.button_blue 按鈕範例
    .button.button_yellow 按鈕範例

.content.content_blue
  .maxwidth
    h5 Style GuideLine
    h1 品牌網頁視覺引導-40px 大標題
    h1.small_english English Style Guideline For h1 title
    .titlehr
    br
    h2 品牌網頁視覺引導-40px 中標題
    h2.small_english English Style Guideline For h2 title
    br
    h3 品牌網頁視覺引導-40px 小標題
    h3.small_english English Style Guideline For h3 title
    br
    hr

    h5 VI COLORS
    .colorchip
      .color_tag #F6F6F6
      .color_block.color_block_white
    .colorchip
      .color_tag #ffb336
      .color_block.color_block_yellow
    .colorchip
      .color_tag #333
      .color_block.color_block_grey
    .colorchip
      .color_tag #27232F
      .color_block.color_block_blue

    h5 BUTTON EXAMPLES
    .button.button_white 按鈕範例
    .button.button_grey 按鈕範例
    .button.button_yellow 按鈕範例